.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .nav__item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            .nav__link {
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
        
    }
}